body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    color: chocolate;
    text-align: center;
}

.menu-topo li {
    display: inline;
    border: 1px solid beige;
    padding: 3px 10px 3px 10px;
}